<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" 
            xsi:type="File" 
            keepFileOpen="true" 
            fileName="${specialfolder:folder=ApplicationData}/Profilebot/log.txt"  
            archiveFileName="${specialfolder:folder=ApplicationData}/Profilebot/archives/log.{#####}.txt"
            archiveAboveSize="1048576"
            archiveNumbering="Sequence" />
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>