<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Flurl" version="2.8.2" targetFramework="net47" />
  <package id="Flurl.Http" version="2.4.2" targetFramework="net47" />
  <package id="HttpMachine.PCL" version="3.1.0" targetFramework="net47" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net47" />
  <package id="SlackConnector" version="4.2.74" targetFramework="net47" />
  <package id="SocketLite.PCL" version="5.1.1" targetFramework="net47" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0" targetFramework="net47" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net47" />
  <package id="System.IO" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Linq" version="4.3.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.3" targetFramework="net47" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net47" />
  <package id="System.Reactive" version="4.1.6" targetFramework="net47" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net47" />
  <package id="System.Reflection.TypeExtensions" version="4.6.0" targetFramework="net47" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net47" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net47" />
  <package id="System.Text.Encoding.CodePages" version="4.6.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
  <package id="WebsocketClientLite.PCL" version="5.1.1" targetFramework="net47" />
  <package id="websocket-sharp-with-proxy-support" version="1.9.1" targetFramework="net47" />
</packages>